.about-page {
  .face-card {
    margin: 0 auto;
  }

  .full-description {
    & > .headline {
      color: var(--primaryColor);
    }
  }

  article[aria-label^='about'] {
    & > section:not(:last-child) {
      margin-bottom: 1.5em;

      .headline {
        text-transform: capitalize;
      }
    }
  }

  @media screen and (min-width: 768px) {
    .grids {
      display: flex;
    }

    .face-card {
      min-width: 300px;
      position: sticky;
      top: 50px;
    }
  }

  @media screen and (max-width: 767px) {
    .face-card {
      min-height: 0;
      padding: 0;
      background: none;
    }
  }
}
