@import '../../sass/modules.scss';

.home-page {
    .plain-banner {
        height: 600px;
    }
    
    &__search {
        padding: 1em $globalHSpace 2em;
        justify-content: flex-end;
//        width: fit-content;
        
        .search-box {
//            background-color: red;
            display: block;
            .input-group {
                
            float: right;
//        justify-content: flex-end;
            }
        }
    }
}