@import '../../sass/modules.scss';

.home-page {
  .plain-banner {
    height: 600px;
  }

  &__search {
    padding: 1em 1em 2em;
    justify-content: flex-end;

    @media screen and (min-width: 768px) {
      padding: 1em $globalHSpace 2em;
    }

    .search-box {
      padding: 0;
      @extend .flex;
      justify-content: flex-end;

      .search__form {
        display: block !important;
        width: 100%;
        max-width: 500px;
      }
    }
  }
}
