.search-result {
  width: 100%;
  max-width: 700px;

  .result {
    background-color: var(--white);
    @include BoxShadow(0, 7px, 10px, rgba(0, 0, 0, 0.15));
    @include BorderRadius(4px);
    margin-bottom: 2em;
    padding: 1em;
  }
}
